body{
    font-size: 12px;
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


nav .desktop{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    background-color: #cbbebe;

}

nav .desktop .links{
    display: flex;
}

nav .desktop .imgLogo{
    width:  50px;
    height: 50px;

}



nav a{
    font-size: 14px;
    color: #c95555;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}

nav a:hover{
    color: black;
    background-color: #00c3ff;
}

.dbUser{
    text-align: center;
    padding: 100px;
}

.btnNuevo{
    background-color: #606060;
    color: aliceblue;
    border-style: none;
    width: 100px;
    height: 30px;
    
}

.btnEditar{
    background-color:forestgreen;
    color: aliceblue;
}

.btnEliminar{
    background-color:rgb(212, 13, 13);
    color: aliceblue;
}

.productos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productos .art{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productos .art .crum{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}




.pie{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.pie .foot{
    display: flex;
}

.pie .foot2{
    text-align: center;
}