body {
    font-size: 12px;
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

nav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

nav .desktop .links {
    display: flex;
}

nav .desktop .imgLogo {
    width: 50px;
    height: 50px;

}

nav a {
    font-size: 14px;
    color: #c95555;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}

nav a:hover {
    color: black;
    background-color: #00c3ff;
}

nav button:hover {
    color: black;
    background-color: #00c3ff;
}

.desktop .carrito {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.desktop .carrito .carrito1,
.p {
    display: flex;
}

.desktop .carrito .carrito1 {
    margin-top: 8px;
    width: 25px;
    height: 25px;
}

.ingreso {
    background-color: #ebe5e5;
    text-align: center;
    padding: 100px;
}

.linea {
    width: 25%;
    border-width: 2px;

}

.datos {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.datos .user {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.datos .botones {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.datos .buscar,
.buscar1 {
    width: 300px;
    height: 25px;
}

.datos .btnIngresar {
    width: 160px;
    height: 30px;
    color: whitesmoke;
    background-color: rgb(66, 59, 59);

}

.datos .btnContraseña {
    width: 160px;
    height: 30px;

}

.pie {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.pie .foot {
    display: flex;
}

.pie .foot2 {
    text-align: center;
}